<div class="container">
    <div class="col-md-6">
        <form>
            <fieldset>
                <legend>Cadastro de Clientes</legend>
                <div class="form-group col-md-12">
                    <label for="nomeCli" class="control-label col-md-12">Nome</label>
                    <input type="text" class="form-control col-md-12"data-ng-model="nomeCli" />
                </div>
                <div class="form-group col-md-12">
                    <label for="nascimentoCli" class="control-label col-md-12">Data de Nascimento</label>
                    <input type="date" class="form-control col-md-12" data-ng-model="nascimentoCli" />
                </div>
                <div class="form-group col-md-12">
                    <label for="cpfCli" class="control-label col-md-12">CPF</label>
                    <input type="datetime" class="form-control col-md-12" data-ng-model="cpfCli" />
                </div>
                <div class="col-md-12">
                    <button type="button" class="btn btn-primary col-md-6" data-ng-click="AddClients();">Cadastrar</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>